<!DOCTYPE html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>

<div ng-app="" ng-controller="nodeController"> 			
	<div class="row">
		<div ng-class="{'panel-primary': nodeIsSelected, 'panel-info': !nodeIsSelected, 'col-xs-6': true, 'col-md-5': true, 'panel': true}">
			<div  class="panel-heading">External node</div>
			<div class="panel-body">
				</br>
				<button class="btn btn-default" ng-click="nodeIsSelected=true; selectedNode=distNode" ng-disabled="nodeIsSelected"> 
				select
				</button>
				</br>
				<label for="inputTest" class="col-sm-2 control-label">id</label>	
				<input class="form-control" id="inputDistId" placeholder={{distNode.Id}} ng-model="distNode.Id">
				
				</br>
				<label for="inputTest" class="col-sm-2 control-label">ip</label>	
				<input class="form-control" id="inputDistIp" placeholder={{distNode.Ip}} ng-model="distNode.Ip">
				
				</br>
				<label for="inputTest" class="col-sm-2 control-label">port</label>	
				<input class="form-control" id="inputDistPort" placeholder={{distNode.Port}} ng-model="distNode.Port">
							
				</br>
			</div>
		</div>

		<div ng-class="{'panel-primary': !nodeIsSelected, 'panel-default': nodeIsSelected, 'col-xs-6': true, 'col-md-5': true, 'panel': true}">
			<div class="panel-heading">Personnal node</div>
			<div class="panel-body">
				</br>
				<button class="btn btn-default" ng-disabled="!nodeIsSelected" ng-click="nodeIsSelected=false;selectedNode=localNode"> 
					select
				</button>
				</br>

				<label for="inputTest" class="col-sm-2 control-label">id</label>	
				<input class="form-control" id="inputLocId" placeholder={{localNode.Id}} ng-model="localNode.Id">		
				</br>
				<label for="inputTest" class="col-sm-2 control-label">ip</label>	
				<input class="form-control" id="inputLocIp" placeholder={{localNode.Ip}} ng-model="localNode.Ip">
				
				</br>
				<label for="inputTest" class="col-sm-2 control-label">port</label>	
				<input class="form-control" id="inputLocPort" placeholder={{localNode.Port}} ng-model="localNode.Port">
				
				</br>
				<label for="inputTest" class="col-sm-2 control-label">successor</label>	
				<input class="form-control" id="inputLocSuc" placeholder={{localNode.Successor.Id}} ng-model="localNode.Successor.Id">
				
				</br>
				<label for="inputTest" class="col-sm-2 control-label">predecessor</label>	
				<input class="form-control" id="inputLocPre" placeholder={{localNode.Predecessor.Id}} ng-model="localNode.Predecessor.Id">				
				</br>
			</div>
		</div>

		<div class="col-xs-12 col-md-8 panel panel-default">
			<div class="panel-body">
			future graph visualisation
			</br>
			<button class="btn btn-default" ng-click="getAllNodes()" ng-init="init()"> 
				maj general data
			</button>
			</br>
			nodes : {{nodes}}
			</br>
			local : {{localNode}}
			</br>
			
			</div>
		</div>
	</div>
</div>

<script>
function nodeController($scope,$http) {
	$scope.init = function () {           
        $scope.nodeIsSelected = false;

        var urlReq = 'http://' + "127.0.0.1" + ':' + "3000" + '/nodes';
		$http({
			method: 'GET', 
			url: urlReq,
			respondType: 'json',
			headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/json',
			'Access-Control-Allow-Origin' : '*',
			'Access-Control-Allow-Credentials': true
		}}).
		success(function(data, status, headers, config) {
			$scope.nodes = data;
			$scope.localNode = $scope.nodes;
			$scope.distNode = $scope.localNode.Successor;
			$scope.selectedNode = $scope.localNode;
			$scope.status = status;
		}).
		error(function(data, status, headers, config) {
			console.log("error status : "+ status);
			$scope.nodes = data;
			$scope.localNode = $scope.nodes;
			$scope.status = status;
		});


        console.log($scope.localNode);        
    }

    $scope.getAllNodes = function (){
    	console.log("port " + $scope.selectedNode.Port);

    	var urlReq = 'http://' + $scope.selectedNode.Ip + ':' + $scope.selectedNode.Port + '/nodes';
		$http({
			method: 'GET', 
			url: urlReq,
			respondType: 'json',
	        headers: {
	             'Accept': 'application/json',
	             'Content-Type': 'application/json',
	             'Access-Control-Allow-Origin' : '*',
	             'Access-Control-Allow-Credentials': true
	        }}).
		success(function(data, status, headers, config) {
			$scope.nodes = data;
			$scope.status = status;
		}).
		error(function(data, status, headers, config) {
			console.log("error status : "+ status);
			$scope.nodes = data;
			$scope.status = status;
	  });
	}

	$scope.getNode = function (ident, ip, port, local){
        var urlReq = 'http://' + ip + ':' + port + '/nodes/' + ident;
		$http({
			method: 'GET', 
			url: urlReq ,
			respondType: 'json',
	        headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
				'Access-Control-Allow-Origin' : '*',
				'Access-Control-Allow-Credentials': true
        }}).
		success(function(data, status, headers, config) {	
			if (local){	
				$scope.localNode = data;			
			}else{
				$scope.distNode = data;
			}			
			$scope.status = status;
		}).
		error(function(data, status, headers, config) {
			console.log("error status : "+ status);
			$scope.status = status;
		});
	}
}
</script>

</body>
</html>
