<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="//rawgit.com/JanStevens/angular-growl-2/master/build/angular-growl.css" />
    <script src="//rawgit.com/JanStevens/angular-growl-2/master/build/angular-growl.js" type="text/javascript"></script>


</head>

<body>

    <div ng-app="myApp" ng-controller="MainCtrl">
        <div growl></div>
        <div class="container">
            <!-- <div class="row"> -->
            <div class="page-header">
                <div class="pull-right">

                    <button class="btn btn-default btn-lg btn-info" ng-click="getAllNodes()" ng-init="init()">
                        <i class="glyphicon glyphicon-refresh"></i> maj node data
                    </button>
                </div>
                <h1>Node interface</h1>
            </div>
            <div class="col-md-6 bs-docs-section">
                <div class="panel-primary panel">
                    <div class="panel-heading">
                        <h4>
                            <i class="glyphicon glyphicon-info-sign"></i>
                            Node Informations
                        </h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Id</label>
                                <div class="col-md-9 form-control-static">
                                    {{localNode.Id}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Ip</label>
                                <div class="col-md-9 form-control-static">
                                    {{localNode.Ip}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Port</label>
                                <div class="col-md-9 form-control-static">
                                    {{localNode.Port}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Successor</label>
                                <div class="col-md-9 form-control-static">
                                    {{localNode.Successor.Id}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Predecessor</label>
                                <div class="col-md-9 form-control-static">
                                    {{localNode.Predecessor.Id}}
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <div class=" panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="panel-title">
                            <h3>
                                Datas control

                                <div class="btn-group pull-right">
                                    <button class="btn btn-success" ng-click="dataOperation='add'">
                                        <i class="glyphicon glyphicon-plus-sign"></i> add
                                    </button>

                                    <button class="btn btn-primary" ng-click="dataOperation='get'">
                                        <i class="glyphicon glyphicon-search"></i> get
                                    </button>

                                    <button class="btn btn-danger" ng-click="dataOperation='delete'">
                                        <i class="glyphicon glyphicon-remove"></i> remove
                                    </button>

                                    <button class="btn btn-info" ng-click="majData()">
                                        <i class="glyphicon glyphicon-refresh"></i> maj

                                    </button>
                                </div>
                            </h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{dataOperation}}
                        <div ng-switch="dataOperation">
                            <div ng-switch-when="add">
                                <form novalidate class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="inputKey" class="col-sm-2 control-label">key</label>
                                            <div class="col-lg-10">
                                                <input class="form-control" id="inputKey" placeholder={{keyFocus}} ng-model="keyFocus">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <label for="inputValue" class="col-sm-2 control-label">value</label>
                                            <div class="col-lg-10">
                                                <input class="form-control" id="inputValue" placeholder={{valueFocus}} ng-model="valueFocus">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">tag</label>
                                            <div class="col-lg-10 form-control-static">
                                                {{tagFocus}}

                                            </div>
                                        </div>
                                    </fieldset>
                                    <button class="btn btn-default" ng-click="addData(keyFocus,valueFocus)">Add a new key, value</button>
                                </form>
                            </div>
                            <div ng-switch-when="get">
                                <form novalidate class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="inputKey" class="col-sm-2 control-label">key</label>
                                            <div class="col-lg-10">
                                                <input class="form-control" id="inputKey" placeholder={{keyFocus}} ng-model="keyFocus">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <button class="btn btn-default" ng-click="getData(keyFocus)">Search for this key</button>
                                    <div class="form-group" ng-show="foundSomething">
                                        <label class="control-label col-md-3">Value</label>
                                        <div class="col-md-9 form-control-static">
                                            {{dataFounded}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div ng-switch-when="delete">
                                <form novalidate class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="inputKey" class="col-sm-2 control-label">key</label>
                                            <div class="col-lg-10">
                                                <input class="form-control" id="inputKey" placeholder={{keyFocus}} ng-model="keyFocus">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <button class="btn btn-default" ng-click="removeData(keyFocus)">Remove the entry</button>
                                </form>
                            </div>
                            <div ng-switch-default>
                                Default
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="panel-title">
                            <h3>
                                <i class="glyphicon glyphicon-hdd"></i>
                                Local Datas
                            </h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="well">

                            <div class="alert alert-info" ng-repeat="(key, data) in localNode.Datas.Set">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div ng-switch="isMine(data.Tag)">
                                            <div ng-switch-when="owned">
                                                <div class="label label-success ">Owned</div>
                                            </div>
                                            <div ng-switch-when="replica">
                                                <div class="label label-primary ">Replica</div>
                                            </div>
                                            <div ng-switch-default>
                                                <div class="label label-primary ">other</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div>
                                            key : {{key}}
                                        </div>
                                        <div>

                                            Value : {{data.Value}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-md-6 ">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h4>
                            <i class="glyphicon glyphicon-random"></i>
                            Finger Table
                        </h4>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="hideObvious" ng-model="hideObviousFinger">Hide obvious finger (itself, or successor)
                            </label>
                        </div>
                        <well>
                            <div ng-repeat="finger in localNode.Fingers">


                                <div ng-hide="hideObviousFinger && (finger.NodeResp.Id == localNode.Id || finger.NodeResp.Id == localNode.Successor.Id)">
                                    <div class="panel panel-default">

                                        <div class="panel-heading">
                                            <div class="label label-default pull-right" ng-class="{'label-default' : finger.NodeResp.Id == localNode.Id,
                                    'label-primary' : finger.NodeResp.Id == localNode.Successor.Id,
                                    'label-success' : finger.NodeResp.Id != localNode.Successor.Id && finger.NodeResp.Id != localNode.Id}">{{$index+1}}</div>
                                            <h3 class="panel-title">Key : {{finger.IdKey}}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <!-- <div class="form-group form-group-sm"> -->
                                            <!-- <span class="input-group-addon">Id Resp</span> -->
                                            <!-- <input type="text" class="form-control uneditable-input" uneditable placeholder="{{finger.NodeResp.Id}}"> -->
                                            <div class="form-horizontal">

                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Id Resp</label>
                                                    <div class="col-md-8 form-control-static">
                                                        {{finger.NodeResp.Id}}
                                                    </div>
                                                </div>
                                                <!-- </div> -->
                                                <!-- <div class="controls controls-row"> -->
                                                <div class="col-lg-5">
                                                    <div class="input-group input-group-sm">
                                                        <label class="control-label col-md-2">Ip</label>
                                                        <div class="col-md-2 form-control-static">
                                                            {{finger.NodeResp.Ip}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="input-group input-group-sm">
                                                        <label class="control-label col-md-4">Port</label>
                                                        <div class="col-md-2 form-control-static">
                                                            {{finger.NodeResp.Port}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </well>

                        </br>

                    </div>
                </div>
            </div>

        </div>
    </div>
</body>


<script>
var app = angular.module('myApp', ['angular-growl', 'ngAnimate']);

app.config(function($httpProvider) {
    //Enable cross domain calls
    $httpProvider.defaults.useXDomain = true;

    //Remove the header used to identify ajax call  that would prevent CORS from working
    delete $httpProvider.defaults.headers.common['X-Requested-With'];
});

app.config(['growlProvider', function(growlProvider) {
    growlProvider.globalTimeToLive(3000);
}]);

app.controller('MainCtrl', ['$scope', 'growl', '$http',
    function($scope, growl, $http) {

        $scope.foundSomething = false
        $scope.init = function() {
            $scope.getAllNodes();
        }

        $scope.isMine = function(tag) {
            if (tag == $scope.localNode.Id) {
                return "owned"
            }
            if ((tag == $scope.localNode.Successor.Id) || (tag == $scope.localNode.Predecessor.Id)) {
                return "replica"
            };
        }

        $scope.getAllNodes = function() {
            var urlReq;
            $http({
                    method: 'GET',
                    url: '/nodes',
                    respondType: 'json' //optionnel
                }).success(function(data, status, headers, config) {
                    $scope.localNode = data;
                    $scope.status = status;

                    if ($scope.localNode) {
                        $scope.localIp = $scope.localNode.Ip;
                        $scope.localPort = $scope.localNode.Port;
                    }
                })
                .error(function(data, status, headers, config) {
                    console.log("error status : " + status);
                    //$scope.localNode = data;
                    $scope.status = status;
                })
        }



        $scope.getData = function(key) {
            $http({
                method: 'GET',
                url: '/storage/' + key,
                respondType: 'json' //optionnel
            }).
            success(function(data, status, headers, config) {
                $scope.status = status;
                console.log(data);
                if (data == "no data with this key") {
                    growl.error("No data found with this key", config);
                    $scope.dataFounded = {}
                    $scope.foundSomething = false
                } else {
                    growl.success("Data found", config);
                    $scope.dataFounded = data
                    $scope.foundSomething = true
                }

            }).
            error(function(data, status, headers, config) {
                console.log("error status : " + status);
                $scope.status = status;
            });
        }

        $scope.addData = function(key, value) {
            console.log(key)
            console.log(value)
            $http({
                method: 'POST',
                url: '/storage',
                respondType: 'json', //optionnel
                data: {
                    Key: key,
                    Value: value,
                }
            }).
            success(function(data, status, headers, config) {
                $scope.status = status;
                $scope.getAllNodes();
                $scope.dataOperation = ""
                    //TODO notification
                growl.success("New data added", config);
            }).
            error(function(data, status, headers, config) {
                console.log("error status : " + status);
                $scope.status = status;
            });
        }

        $scope.removeData = function(key) {
            $http({
                method: 'DELETE',
                url: '/storage/' + key,
                respondType: 'json' //optionnel
            }).
            success(function(data, status, headers, config) {
                $scope.status = status;
                $scope.getAllNodes();
                $scope.dataOperation = ""
                growl.success("Data removed", config);
            }).
            error(function(data, status, headers, config) {
                console.log("error status : " + status);
                $scope.status = status;
            });
        }

        $scope.majData = function() {
            $http({
                method: 'PUT',
                url: '/storage/' + $scope.keyFocus,
                respondType: 'json', //optionnel
                data: {
                    Key: $scope.keyFocus,
                    Value: $scope.valueFocus
                }
            }).
            success(function(data, status, headers, config) {
                $scope.status = status;
                $scope.getAllNodes();
            }).
            error(function(data, status, headers, config) {
                console.log("error status : " + status);
                $scope.status = status;
            });
        }

        $scope.changeDataFocus = function(key, data) {
            console.log(data);
            $scope.keyFocus = key;
            $scope.valueFocus = data.Value;
            $scope.tagFocus = data.Tag;
        }



    }
]);
</script>



</html>
